* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange {
    color: #FD6E0A;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
}
header {
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav {
    width: 71.25%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}
nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.logo {
    font-size: 45px;
    font-weight: 900;
}